a{text-decoration:underline}

a:link{font-family:"arial","helvetica"; font-size:11px; color:#ffffff;}
a:visited{font-family:"arial","helvetica"; font-size:11px; color:#666666;}
a:active{font-family:"arial","helvetica"; font-size:11px; color:#cc3300;}
a:hover{font-family:"arial","helvetica"; font-size:11px; color:#cccccc;text-decoration:none;}



.text{font-family:"arial","helvetica";
 font-size:12px;
 color:#333333;}



p.textalt{font-family:"arial","helvetica"; font-size:10px; color:#999999;}

p.textpoem{font-family:"arial","helvetica"; font-size:11px; color:#999999;letter-spacing:1px}

span.email{font-family:"arial","helvetica"; font-size:11px; color:#ff9900;letter-spacing:1px;
           text-decoration:underline}
           
 
 
           
p.textcontent{font-family:"arial","helvetica"; font-size:9px; color:#ffffff;letter-spacing:1px;
            line-height:10px;}           
           
p.textmainheader{font-family:"arial","helvetica"; font-size:12px; font-weight:bold; 
           color:#ff9900;}
           
p.textheader{font-family:"arial","helvetica"; font-size:10px; color:#ffffff;}           
           





