p.grey{font-family:"arial","helvetica"; font-size:15px; color:#333333; line-height:13pt}


p.serif{font-family:"new york","times"; font-size:11pt; color:#999999; line-height:12pt}

span.serif_big{font-family:"arial","helvetica"; font-size:10pt; font-weight:bold; letter-spacing:4pt; color:#ff3300}<!-- -->

div.serif{font-family:"new york","times"; font-size:10pt; color:#999999; line-height:11pt; text-align:right}<!-- -->

p.grey_a{font-family:"arial","helvetica"; font-size:10pt; color:#999999; line-height:11pt}<!-- -->


p.red_kev{font-family:"arial","helvetica"; font-size:18pt; color:#ff0000}

p.red_a{font-family:"arial","helvetica"; font-size:18pt; color:#ffffff}<!-- -->

p.red{font-family:time,palatino; font-size:16px; color:#333333; font-weight:bold}
