<form method=post action=admindet.cgi>
<h1>Glaze Table</h1>
<table border=1 cellspacing=0 cellpadding=2>
<tr><td colspan=2><b>Glaze Name</b></td></tr>
<tr>
<td colspan=2><input type=text name=glaze_name size=80 value="<tmpl_var glaze_name escape=1>"></td>
</tr>
<tr><td><b>Comments</b></td><td><b>Hazard Comments</b></td></tr>
<tr>
<td><textarea name=description rows=4 cols=40><tmpl_var description escape=1></textarea></td>
<td><textarea name=comment rows=4 cols=40><tmpl_var comment escape=1></textarea></td>
</tr>
</table>
<br>
<input type=submit value="Save Glaze/Property/Ingredient"><br>


<h1>Glaze Properties</h1>
<table border=1 cellspacing=0 cellpadding=2>
<tr><td><b>Property Name</b></td><td><b>Property Value</b></td><td><b>Delete</b></td></tr>
<tmpl_loop name=table_properties>
<tr>
	<td><tmpl_var prop_name escape=1></td>
	<td><tmpl_var prop_val escape=1></td>
	<td><b><a href="admindet.cgi?action=delete&table=glaze_properties&glaze=<tmpl_var glaze_id escape=1>&name=<tmpl_var prop_name escape=1>">Delete</a></b></td>
</tr>
</tmpl_loop>
</table>
<br>
<h2>New Property</h2>
<table border=1 cellspacing=0 cellpadding=2>
<tr><td><b>Property Name</b></td><td><input type=text name=prop_name></td></tr>
<tr><td><b>Property Value</b></td><td><input type=text name=prop_val></td></tr>
</table>
<br>
<input type=submit value="Save Glaze/Property/Ingredient"><br>

<h1>Glaze Ingredients</h1>
<table border=1 cellspacing=0 cellpadding=2>
<tr><td><b>Ingredient Type</b></td><td><b>Ingredient</b></td><td><b>Amount</b></td><td><b>Delete</b></td></tr>
<tmpl_loop name=table_recipe>
<tr>
<td><tmpl_var ingr_type escape=1></td>
<td><tmpl_var ingr_name escape=1></td>
<td><tmpl_var ingr_val escape=1></td>
<td><b><a href="admindet.cgi?action=delete&table=glaze_recipe&glaze=<tmpl_var glaze_id escape=1>&name=<tmpl_var ingr_name escape=1>">Delete</a></b></td>
</tr>
</tmpl_loop>
</table>
<br>
<h2>New Ingredient</h2>
<table border=1 cellspacing=0 cellpadding=2>
<tr><td><b>Ingredient Type</b></td><td><input type=text name=ingr_type></td></tr>
<tr><td><b>Ingredient Name</b></td><td><input type=text name=ingr_name></td></tr>
<tr><td><b>Ingredient Value</b></td><td><input type=text name=ingr_val></td></tr>
</table>
<br>
<input type=submit value="Save Glaze/Property/Ingredient"><br>
<input type=hidden name=glaze value="<tmpl_var id escape=1>"><br>
<br>
<a href="admin.cgi">Back To List</a> | <a href="../detail.cgi?glaze=<tmpl_var id escape=1>" target="_blank">Preview</a>
</form>