<html>
<head>
<title>a</title>
<link rel="stylesheet" href="script/style.css">
</head>

<body bgcolor="#ffffff" topmargin="0" leftmargin="0" marginwidth="0" marginheight="0">
<form>
<table cellpadding="0" cellspacing="0" border="0" width="100%"><!-- main layout -->
<tr>
 <td><table cellpadding="0" cellspacing="0" border="0" width="100%"><!-- ********** detail ********** -->
      <tr>
       <td colspan="4"><table cellpadding="0" cellspacing="0" border="0" width="100%"><!-- name and nav -->
           <tr>
             <td><img src="img/spacer.gif" width="1" height="35" alt="" border="0"></td><!-- ^_^ -->
             <td valign="middle"><span class="glaze_name_detail"><tmpl_var glaze_name></span></td><!-- ######== -->
             <td align="right" valign="bottom" colspan="2"><table cellpadding="0" cellspacing="0" border="0"><!-- nav -->
                  <tr>
                    <td><a href="/site/building38/01_ceramics/" class="detail_info">back to search</a></td>
                  </tr>
             </table></td><!-- /nav -->
           </tr>
           <tr>
             <td colspan="5" bgcolor="#bf4b00"><img src="img/spacer.gif" width="1" height="3" alt="" border="0"></td>
           </tr>
       </table></td><!-- /name and nav -->
      </tr>
      
      <tr><!-- spacer from name to content -->
        <td bgcolor="ffffff" rowspan="9"><img src="img/spacer.gif" width="7" height="1" alt="" border="0"></td><!-- horiz -->
        <td bgcolor="ffffff" colspan="3"><img src="img/spacer.gif" width="1" height="15" alt="" border="0"></td><!-- verti -->
      </tr><!-- spacer from name to content -->
      
      
      
      
      
      
      <tr>
      <td><table cellpadding="0" cellspacing="0" border="0" width="75%"><!-- table that hold both left and right  -->
      <tr>
      
        <td valign="top"><table cellpadding="0" cellspacing="0" border="0" width="325"><!-- left part of page -->
          <tr><!-- cone, surface,color,firing, oxides, food safe -->
            <td><table cellpadding="0" cellspacing="0" border="0">
              <tr><!-- cone -->
                <td valign="top"><span class="result_titles">Cone</span></td>
                <td><img src="img/spacer.gif" width="10" height="1" alt="" border="0"></td>
                <td><span class="general_text"><tmpl_var cone></span></td><!-- ######== -->
              </tr><!-- /cone -->
              
              <tr>
                <td colspan="3"><img src="img/spacer.gif" width="10" height="10" alt="" border="0"></td><!-- ^_^ -->
              </tr>
              
              <tr><!-- surface -->
                <td valign="top"><span class="result_titles">Surface</span></td>
                <td><img src="img/spacer.gif" width="10" height="1" alt="" border="0"></td>
                <td><span class="general_text"><tmpl_var surface></span></td><!-- ######== -->
              </tr><!-- /surface -->
              
              <tr>
                <td colspan="3"><img src="img/spacer.gif" width="10" height="10" alt="" border="0"></td><!-- ^_^ -->
              </tr>
              
              
              <tr><!-- color -->
                <td valign="top"><span class="result_titles">Color</span></td>
                <td><img src="img/spacer.gif" width="10" height="1" alt="" border="0"></td>
                <td><span class="general_text"><tmpl_var value><tmpl_var color></span></td><!-- ######== -->
              </tr><!-- /color -->
              
              <tr>
                <td colspan="3"><img src="img/spacer.gif" width="10" height="10" alt="" border="0"></td><!-- ^_^ -->
              </tr>
              
              <tr><!-- firing -->
                <td valign="top"><span class="result_titles">Firing</span></td>
                <td><img src="img/spacer.gif" width="10" height="1" alt="" border="0"></td>
                <td><span class="general_text"><tmpl_var firing></span></td><!-- ######== -->
              </tr><!-- /firing -->
              
              <tr>
                <td colspan="3"><img src="img/spacer.gif" width="10" height="10" alt="" border="0"></td><!-- ^_^ -->
              </tr>
              
              <tr><!-- Oxides -->
                <td valign="top"><span class="result_titles">Glaze Type by Oxides</span></td>
                <td><img src="img/spacer.gif" width="10" height="1" alt="" border="0"></td>
                <td valign="middle"><span class="general_text"><tmpl_var oxide></span></td><!-- ######== -->
              </tr><!-- /Oxides -->
              
              <tr>
                <td colspan="3"><img src="img/spacer.gif" width="10" height="10" alt="" border="0"></td><!-- ^_^ -->
              </tr>
              
              <tr><!-- Food Safe -->
                <td valign="top"><span class="result_titles">Food Safe</span></td>
                <td><img src="img/spacer.gif" width="10" height="1" alt="" border="0"></td>
                <td><span class="general_text"><tmpl_var hazard></span></td><!-- ######== -->
		      </tr><!-- /Food Safe -->
            </table></td>
          </tr><!-- /cone, surface, firing, color, oxides, food safe -->
          
          <tr>
            <td><img src="img/spacer.gif" width="10" height="10" alt="" border="0"></td><!-- ^_^ -->
          </tr>
          
          <tr><!-- base ingridents and precentage -->
             <td align="left"><table cellpadding="0" cellspacing="2" border="0">
                                     <tr>
                                       <td><img src="img/spacer.gif" width="190" height="1" alt="" border="0"></td>
                                       <td><img src="img/spacer.gif" width="10" height="1" alt="" border="0"></td>
                                       <td><img src="img/spacer.gif" width="30" height="1" alt="" border="0"></td>
                                       <td><img src="img/spacer.gif" width="30" height="1" alt="" border="0"></td>
                                     </tr>
                                     <tr>
                                       <td valign="top" align="left"><span class="result_titles">Base Ingredients:&nbsp;</span></td>
                                       <td><img src="img/spacer.gif" width="10" height="1" alt="" border="0"></td>
                                       <td valign="top" align="left" colspan="2"><span class="result_titles">&nbsp;</span></td>
                                     </tr>
                                     
                                     <tr>
                                       <td colspan="4"><img src="img/spacer.gif" width="1" height="10" alt="" border="0"></td><!-- ^_^ -->
                                     </tr>
                                    <tmpl_loop name=recipe>
                                     <tr><!-- ######== -->
                                       <td valign="middle" align="left"><span class="general_text"><tmpl_var ingr_name></span></td>
                                       <td valign="middle"><img src="img/spacer.gif" width="10" height="1" alt="" border="0"></td>
                                       <td valign="middle" align="right"><span class="general_text"><tmpl_var ingr_val></span></td>
                                       <td valign="middle" align="left"><span class="general_text">&nbsp;%</span></td>
                                     </tr><!-- /######== -->
									 </tmpl_loop>
                                     
                                 </table></td>
            </tr><!-- /base ingridents and precentage -->
            
          <tr>
            <td><img src="img/spacer.gif" width="10" height="10" alt="" border="0"></td><!-- ^_^ -->
          </tr>
          
          <tr><!-- Colorants and other ingredients -->
              <td align="left"><table cellpadding="0" cellspacing="2" border="0"><!-- Colorants and other ingredients name and percentage -->
                                     <tr>
                                       <td><img src="img/spacer.gif" width="190" height="1" alt="" border="0"></td>
                                       <td><img src="img/spacer.gif" width="10" height="1" alt="" border="0"></td>
                                       <td><img src="img/spacer.gif" width="30" height="1" alt="" border="0"></td>
                                       <td><img src="img/spacer.gif" width="30" height="1" alt="" border="0"></td>
                                     </tr>
                                     <tr>
                                       <td valign="top" align="left"><span class="result_titles">Colorants and other Ingredients:&nbsp;</span></td>
                                       <td><img src="img/spacer.gif" width="10" height="1" alt="" border="0"></td>
                                       <td valign="top" align="left" colspan="2"><span class="result_titles">&nbsp;</span></td>
                                     </tr>
                                     
                                     <tr>
                                       <td colspan="4"><img src="img/spacer.gif" width="1" height="10" alt="" border="0"></td><!-- ^_^ -->
                                     </tr>
                                     <tmpl_loop name=colorant>
                                     <tr><!-- ######== -->
                                       <td valign="middle" align="left"><span class="general_text"><tmpl_var ingr_name></span></td>
                                       <td valign="middle"><img src="img/spacer.gif" width="10" height="1" alt="" border="0"></td>
                                       <td valign="middle" align="right"><span class="general_text"><tmpl_var ingr_val></span></td>
                                       <td valign="middle" align="left"><span class="general_text">&nbsp;%</span></td>
                                     </tr><!-- /######== -->
									 </tmpl_loop>
                                     
                                 </table></td><!-- /Colorants and other ingredients name and percentage -->
            </tr><!-- /cone, surface,color,firing, oxides, food safe -->
            
             
            <tr>
              <td><img src="img/spacer.gif" width="10" height="22" alt="" border="0"></td><!-- ^_^ -->
            </tr>
            
            <tr>
              <td><table cellpadding="0" cellspacing="0" border="0"><!--Health Hazard Comments & Gneral Comments -->
                <tr>
                  <td valign="top" width="155"><table cellpadding="0" cellspacing="2" border="0"><!-- health -->
                      <tr>
                        <td valign="top"><span class="result_titles">Health Hazard Comments</span></td>
                      </tr>
                      <tr>
                        <td valign="top"><img src="img/spacer.gif" width="165" height="5" alt="" border="0"></td><!-- ^_^ -->
                      </tr>
                      <tr>
                        <td valign="top"><span class="general_text"><tmpl_var comment></span></td><!-- ######== -->
                      </tr>
                  </table></td><!-- /health -->
                  
                  <td valign="middle" width="15"><img src="img/spacer.gif" width="15" height="1" alt="" border="0"></td><!-- ^_^ -->
                  
                  <td valign="top" width="155"><table cellpadding="0" cellspacing="2" border="0"><!-- general -->
                      <tr>
                        <td valign="top"><span class="result_titles">General Comments</span></td>
                      </tr>
                      <tr>
                        <td valign="top"><img src="img/spacer.gif" width="165" height="10" alt="" border="0"></td><!-- ^_^ -->
                      </tr>
                      <tr>
                        <td valign="top"><span class="general_text"><tmpl_var description></span></td><!-- ######== -->
                      </tr>
                  </table></td><!-- /general -->
                </tr>
              </table></td><!-- /Health Hazard Comments & Gneral Comments -->
            </tr>
        </table></td><!-- left part of page -->
        
        
        
        <td><img src="img/spacer.gif" width="15" height="10" alt="" border="0"></td><!-- ^_^ -->
        
        
        
        
        <td valign="top" align="left"><table cellpadding="0" cellspacing="0" border="0" width="325"><!-- right part of page -->
         <tr>
            <td><table cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td><table cellpadding="0" cellspacing="0" border="0"><!-- image1 -->
                    <tr>
                      <td><span class="result_titles">Oxidation Tile</span></td>
                    </tr>
                    <tr>
                      <td><img src="<tmpl_var image1>" alt="" border="1"></td>
                    </tr>
                </table></td><!-- /image1 -->
                
                <td bgcolor="#ffffff"><img src="img/spacer.gif" width="10" height="1" alt="" border="0"></td>
                
                <td><table cellpadding="0" cellspacing="0" border="0"><!-- image2 -->
                    <tr>
                      <td><span class="result_titles">Reduction Tile</span></td>
                    </tr>
                    <tr>
                      <td><img src="<tmpl_var image2>" alt="" border="1"></td>
                    </tr>
                </table></td><!-- /image2 -->
              </tr>
            </table></td>
          </tr><!-- /tiles -->
          
          <tr>
            <td><img src="img/spacer.gif" width="1" height="10" alt="" border="0"></td><!-- ^_^ -->
          </tr>
          
          <tr><!-- Molecular Unity Formula -->
              <td align="left" valign="top"><table cellpadding="0" cellspacing="2" border="0">
                               <tr>
                                 <td valign="top" align="left" colspan="5"><span class="result_titles">Molecular Unity Formula</span></td>
                               </tr>
                               
                               <tr>
                                 <td valign="top"><table cellpadding="0" cellspacing="2" border="0"><!-- RO Fluxes -->
                                     <tr>
                                       <td><img src="img/spacer.gif" width="30" height="1" alt="" border="0"></td>
                                       <td><img src="img/spacer.gif" width="5" height="1" alt="" border="0"></td>
                                       <td><img src="img/spacer.gif" width="30" height="1" alt="" border="0"></td>
                                     </tr>
                                     <!-- title where RO Fluxes would have been -->
                                     
                                     <tr>
                                       <td colspan="4"><img src="img/spacer.gif" width="1" height="10" alt="" border="0"></td><!-- ^_^ -->
                                     </tr>
                                    
                                     <tr>
                                       <td valign="middle" align="left"><span class="general_text"><tmpl_var K2O></span></td><!-- ######== -->
                                       <td valign="middle"><img src="img/spacer.gif" width="10" height="1" alt="" border="0"></td>
                                       <td valign="middle" align="left"><span class="general_text">K2O</span></td>
                                     </tr>
                                     <tr>
                                       <td valign="middle" align="left"><span class="general_text"><tmpl_var Na2O></span></td><!-- ######== -->
                                       <td valign="middle"><img src="img/spacer.gif" width="10" height="1" alt="" border="0"></td>
                                       <td valign="middle" align="left"><span class="general_text">Na2O</span></td>
                                     </tr>
                                     <tr>
                                       <td valign="middle" align="left"><span class="general_text"><tmpl_var CaO></span></td><!-- ######== -->
                                       <td valign="middle"><img src="img/spacer.gif" width="10" height="1" alt="" border="0"></td>
                                       <td valign="middle" align="left"><span class="general_text">CaO</span></td>
                                     </tr>
                                     <tr>
                                       <td valign="middle" align="left"><span class="general_text"><tmpl_var MgO></span></td><!-- ######== -->
                                       <td valign="middle"><img src="img/spacer.gif" width="10" height="1" alt="" border="0"></td>
                                       <td valign="middle" align="left"><span class="general_text">MgO</span></td>
                                     </tr>
                                     <tr>
                                       <td valign="middle" align="left"><span class="general_text"><tmpl_var Li2O></span></td><!-- ######== -->
                                       <td valign="middle"><img src="img/spacer.gif" width="10" height="1" alt="" border="0"></td>
                                       <td valign="middle" align="left"><span class="general_text">Li2O</span></td>
                                     </tr>
                                     <tr>
                                       <td valign="middle" align="left"><span class="general_text"><tmpl_var BaO></span></td><!-- ######== -->
                                       <td valign="middle"><img src="img/spacer.gif" width="10" height="1" alt="" border="0"></td>
                                       <td valign="middle" align="left"><span class="general_text">BaO</span></td>
                                     </tr>
                                     <tr>
                                       <td valign="middle" align="left"><span class="general_text"><tmpl_var PbO></span></td><!-- ######== -->
                                       <td valign="middle"><img src="img/spacer.gif" width="10" height="1" alt="" border="0"></td>
                                       <td valign="middle" align="left"><span class="general_text">PbO</span></td>
                                     </tr>
                                     <tr>
                                       <td valign="middle" align="left"><span class="general_text"><tmpl_var ZnO></span></td><!-- ######== -->
                                       <td valign="middle"><img src="img/spacer.gif" width="10" height="1" alt="" border="0"></td>
                                       <td valign="middle" align="left"><span class="general_text">ZnO</span></td>
                                     </tr>
                                     <tr>
                                       <td valign="middle" align="left"><span class="general_text"><tmpl_var CoO></span></td><!-- ######== -->
                                       <td valign="middle"><img src="img/spacer.gif" width="10" height="1" alt="" border="0"></td>
                                       <td valign="middle" align="left"><span class="general_text">CoO</span></td>
                                     </tr>
                                     <tr>
                                       <td valign="middle" align="left"><span class="general_text"><tmpl_var CuO></span></td><!-- ######== -->
                                       <td valign="middle"><img src="img/spacer.gif" width="10" height="1" alt="" border="0"></td>
                                       <td valign="middle" align="left"><span class="general_text">CuO</span></td>
                                     </tr>
                                     <tr>
                                       <td valign="middle" align="left"><span class="general_text"><tmpl_var NiO></span></td><!-- ######== -->
                                       <td valign="middle"><img src="img/spacer.gif" width="10" height="1" alt="" border="0"></td>
                                       <td valign="middle" align="left"><span class="general_text">NiO</span></td>
                                     </tr>
                                     <tr>
                                       <td valign="middle" align="left"><span class="general_text"><tmpl_var SrO></span></td><!-- ######== -->
                                       <td valign="middle"><img src="img/spacer.gif" width="10" height="1" alt="" border="0"></td>
                                       <td valign="middle" align="left"><span class="general_text">SrO</span></td>
                                     </tr>
                                 </table></td><!-- /RO Fluxes -->
                                 
                                 <td><img src="img/spacer.gif" width="20" height="1" alt="" border="0"></td>
                                 
                                 <td align="left" valign="top"><table cellpadding="0" cellspacing="2" border="0"><!-- RO2 Group -->
                                     <tr>
                                       <td><img src="img/spacer.gif" width="30" height="1" alt="" border="0"></td>
                                       <td><img src="img/spacer.gif" width="5" height="1" alt="" border="0"></td>
                                       <td><img src="img/spacer.gif" width="30" height="1" alt="" border="0"></td>
                                     </tr>
                                     <!-- title where RO2 Group would have been -->
                                     
                                     <tr>
                                       <td colspan="4"><img src="img/spacer.gif" width="1" height="10" alt="" border="0"></td><!-- ^_^ -->
                                     </tr>
                                    
                                     <tr>
                                       <td valign="middle" align="left"><span class="general_text"><tmpl_var Al2O3></span></td><!-- ######== -->
                                       <td valign="middle"><img src="img/spacer.gif" width="10" height="1" alt="" border="0"></td>
                                       <td valign="middle" align="left"><span class="general_text">Al2O3</span></td>
                                     </tr>
                                     <tr>
                                       <td valign="middle" align="left"><span class="general_text"><tmpl_var B2O3></span></td><!-- ######== -->
                                       <td valign="middle"><img src="img/spacer.gif" width="10" height="1" alt="" border="0"></td>
                                       <td valign="middle" align="left"><span class="general_text">B2O3</span></td>
                                     </tr>
                                     <tr>
                                       <td valign="middle" align="left"><span class="general_text"><tmpl_var Fe2O3></span></td><!-- ######== -->
                                       <td valign="middle"><img src="img/spacer.gif" width="10" height="1" alt="" border="0"></td>
                                       <td valign="middle" align="left"><span class="general_text">Fe2O3</span></td>
                                     </tr>
                                     <tr>
                                       <td valign="middle" align="left"><span class="general_text"><tmpl_var P2O5></span></td><!-- ######== -->
                                       <td valign="middle"><img src="img/spacer.gif" width="10" height="1" alt="" border="0"></td>
                                       <td valign="middle" align="left"><span class="general_text">P2O5</span></td>
                                     </tr>
                                     <tr>
                                       <td valign="middle" align="left"><span class="general_text"><tmpl_var Sb2O3></span></td><!-- ######== -->
                                       <td valign="middle"><img src="img/spacer.gif" width="10" height="1" alt="" border="0"></td>
                                       <td valign="middle" align="left"><span class="general_text">Sb2O3</span></td>
                                     </tr>
                                     <tr>
                                       <td valign="middle" align="left"><span class="general_text"><tmpl_var Cr2O3></span></td><!-- ######== -->
                                       <td valign="middle"><img src="img/spacer.gif" width="10" height="1" alt="" border="0"></td>
                                       <td valign="middle" align="left"><span class="general_text">Cr2O3</span></td>
                                     </tr>
                                     <tr>
                                       <td valign="middle" align="left"><span class="general_text"><tmpl_var V2O5></span></td><!-- ######== -->
                                       <td valign="middle"><img src="img/spacer.gif" width="10" height="1" alt="" border="0"></td>
                                       <td valign="middle" align="left"><span class="general_text">V2O5</span></td>
                                     </tr>
                                 </table></td><!-- /RO2 Group -->
                                 
                                 <td><img src="img/spacer.gif" width="20" height="1" alt="" border="0"></td>
                                 
                                 <td align="left" valign="top"><table cellpadding="0" cellspacing="2" border="0"><!-- R2O3 Group -->
                                     <tr>
                                       <td><img src="img/spacer.gif" width="57" height="1" alt="" border="0"></td>
                                       <td><img src="img/spacer.gif" width="5" height="1" alt="" border="0"></td>
                                       <td><img src="img/spacer.gif" width="77" height="1" alt="" border="0"></td>
                                     </tr>
                                     <!-- title where R203 Group would have been -->
                                     
                                     <tr>
                                       <td colspan="4"><img src="img/spacer.gif" width="1" height="10" alt="" border="0"></td><!-- ^_^ -->
                                     </tr>
                                    
                                     <tr>
                                       <td valign="middle" align="right"><span class="general_text"><tmpl_var SiO2></span></td><!-- ######== -->
                                       <td valign="middle"><img src="img/spacer.gif" width="10" height="1" alt="" border="0"></td>
                                       <td valign="middle" align="left"><span class="general_text">SiO2</span></td>
                                     </tr>
                                     <tr>
                                       <td valign="middle" align="right"><span class="general_text"><tmpl_var TiO2></span></td><!-- ######== -->
                                       <td valign="middle"><img src="img/spacer.gif" width="10" height="1" alt="" border="0"></td>
                                       <td valign="middle" align="left"><span class="general_text">TiO2</span></td>
                                     </tr>
                                     <tr>
                                       <td valign="middle" align="right"><span class="general_text"><tmpl_var ZrO2></span></td><!-- ######== -->
                                       <td valign="middle"><img src="img/spacer.gif" width="10" height="1" alt="" border="0"></td>
                                       <td valign="middle" align="left"><span class="general_text">ZrO2</span></td>
                                     </tr>
                                     <tr>
                                       <td valign="middle" align="right"><span class="general_text"><tmpl_var SnO2></span></td><!-- ######== -->
                                       <td valign="middle"><img src="img/spacer.gif" width="10" height="1" alt="" border="0"></td>
                                       <td valign="middle" align="left"><span class="general_text">SnO2</span></td>
                                     </tr>
                                     <tr>
                                       <td valign="middle" align="right"><span class="general_text"><tmpl_var MnO2></span></td><!-- ######== -->
                                       <td valign="middle"><img src="img/spacer.gif" width="10" height="1" alt="" border="0"></td>
                                       <td valign="middle" align="left"><span class="general_text">MnO2</span></td>
                                     </tr>
                                     <tr>
                                       <td valign="middle" align="right"><span class="general_text"><tmpl_var F></span></td><!-- ######== -->
                                       <td valign="middle"><img src="img/spacer.gif" width="10" height="1" alt="" border="0"></td>
                                       <td valign="middle" align="left"><span class="general_text">F</span></td>
                                     </tr>
                                     <tr>
                                       <td valign="middle" align="right"><span class="general_text"><tmpl_var Si2al></span></td><!-- ######== -->
                                       <td valign="middle"><img src="img/spacer.gif" width="10" height="1" alt="" border="0"></td>
                                       <td valign="middle" align="left"><span class="general_text">Si:Al Ratio</span></td>
                                     </tr>
                                 </table></td><!-- /R2O3 Group -->
                               </tr>
              </table></td>
            </tr><!-- /Molecular Unity Formula -->
            
            <tr>
              <td><img src="img/spacer.gif" width="1" height="10" alt="" border="0"></td><!-- ^_^ -->
            </tr>
            
            <tr><!-- Thermal Expansion -->
              <td valign="top"><table cellpadding="0" cellspacing="2" border="0">
                               <tr>
                                 <td><span class="result_titles">Approx. Thermal Expansion</span></td>
                               </tr>
                               <tr>
                                 <td><img src="img/spacer.gif" width="1" height="10" alt="" border="0"></td><!-- ^_^ -->
                               </tr>
                               <tr>
                                 <td><span class="detail_text"><span class="general_text"><tmpl_var thermal><!-- ######== --> x 10<sup>-7</sup></span></td>
                               </tr>
              </table></td>
            </tr><!-- /Thermal Expansion -->
            
            <tr>
              <td><img src="img/spacer.gif" width="1" height="10" alt="" border="0"></td><!-- ^_^ -->
            </tr>
            
            <tr><!-- Percentage Ananlysis, Approx. -->
              <td valign="top"><table cellpadding="0" cellspacing="2" border="0">
                                     <tr>
                                       <td><img src="img/spacer.gif" width="47" height="1" alt="" border="0"></td>
                                       <td><img src="img/spacer.gif" width="10" height="1" alt="" border="0"></td>
                                       <td><img src="img/spacer.gif" width="5" height="1" alt="" border="0"></td>
                                       <td><img src="img/spacer.gif" width="47" height="1" alt="" border="0"></td>
                                       
                                       <td><img src="img/spacer.gif" width="10" height="1" alt="" border="0"></td>
                                       
                                       <td><img src="img/spacer.gif" width="47" height="1" alt="" border="0"></td>
                                       <td><img src="img/spacer.gif" width="10" height="1" alt="" border="0"></td>
                                       <td><img src="img/spacer.gif" width="5" height="1" alt="" border="0"></td>
                                       <td><img src="img/spacer.gif" width="47" height="1" alt="" border="0"></td>
                                     </tr>
                                     <tr>
                                       <td valign="top" align="left" colspan="9"><span class="result_titles">Percentage Analysis&nbsp;</span></td>
                                     </tr>
                                     
                                     <tr>
                                       <td colspan="9"><img src="img/spacer.gif" width="1" height="10" alt="" border="0"></td><!-- ^_^ -->
                                     </tr>
                                    <tmpl_loop name=analysis>
                                     <tr>
                                       <td valign="middle" align="right"><span class="general_text"><tmpl_var ingr_val></span></td><!-- ######== -->
                                       <td valign="middle" align="left"><span class="general_text">&nbsp;%</span></td>
                                       <td valign="middle"><img src="img/spacer.gif" width="10" height="1" alt="" border="0"></td>
                                       <td valign="middle" align="left"><span class="general_text"><tmpl_var ingr_name></span></td>
                                     </tr>
									 </tmpl_loop>
                                     
              </table></td>
            </tr><!-- /Percentage Ananlysis, Approx. -->
       </table></td><!-- /right part of page -->
      </tr>
      </table></td><!-- /table that hold both left and right  -->
      </tr>
 </table></td><!-- /********** detail ********** -->
</tr>
</table><!-- /main layout -->
</form>
</body></html>
